@font-face {
  font-family: "SFProText";
  src: url(../fonts/sfpro-text-regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SFProText";
  src: url(../fonts/sfpro-text-medium.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Qumpellka";
  src: url(../fonts/qumpellka.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

* input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #fff !important;
}

form .form-group ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 12px;
  color: #CFCFCF;
}

html, body {
  overflow-x: hidden;
  font-size: 62.5%;
}

body {
  font-family: "SFProText", sans-serif;
  background: url(/img/bgimg2.png) repeat center;
  background-size: 100%;
  padding-bottom: 75px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Qumpellka", cursive;
  background: url("../img/title-bg.png") no-repeat center;
  padding: 15px;
  background-size: 64vw;
  text-align: center;
  color: #555555;
  font-size: 18px;
}

h1 {
  margin: 20px 0;
}

p, td {
  font-family: "SFProText", sans-serif;
  font-size: 14px;
  color: #555555;
}

label {
  font-size: 12px;
  color: #555555;
}

input {
  font-size: 14px;
  margin: 0;
  color: #555555;
}

a {
  color: #2586EF;
  text-decoration: underline;
  font-size: 14px;
}

*:focus, *:active {
  outline: none !important;
}

.p-7 {
  padding-top: 75px;
}

.date {
  max-width: 50%;
}

.num {
  font-size: 24px;
  text-align: center;
}

.shade p {
  color: #999999 !important;
}

.lack {
  text-decoration: none;
}

nav.navbar {
  background-color: #2586EF;
  margin-bottom: 20px;
}
nav.navbar .navbar-brand {
  padding: 0;
  text-decoration: none;
  color: white;
  font-size: 16px;
}
nav.navbar .navbar-brand img {
  height: 50px;
  border-radius: 50%;
}
nav.navbar .navbar-toggler img {
  height: 28px;
}
nav.navbar .navbar-nav a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}
nav.navbar .offcanvas-collapse {
  position: fixed;
  top: 60px;
  bottom: 33px;
  z-index: 10000;
  width: 100%;
  padding: 30px;
  overflow-y: auto;
  background-color: #2586EF;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  transition: -webkit-transform 0.3s ease-in-out;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
nav.navbar .offcanvas-collapse.open {
  transform: translateX(-1rem);
  /* Account for horizontal padding on navbar */
}

footer {
  background-color: #2586EF;
  font-size: 12px;
  padding: 6px 0;
}
footer p {
  margin: 0;
  color: white;
  text-align: center;
}

label.checkbox-wrapper {
  display: block;
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.checkbox-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
label.checkbox-wrapper input:checked ~ .checkmark:after {
  display: block;
}
label.checkbox-wrapper .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #5e6b71;
}
label.checkbox-wrapper .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  left: 8px;
  top: 4px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
label.checkbox-wrapper input:checked ~ .checkmark {
  background-color: #2196F3;
}

label.radio-wrapper {
  display: block;
  position: relative;
  padding-left: 32px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
label.radio-wrapper input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
label.radio-wrapper .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #5e6b71;
  border-radius: 50%;
}
label.radio-wrapper input:checked ~ .checkmark {
  background-color: #5e6b71;
}
label.radio-wrapper input:checked ~ .checkmark::after {
  display: block;
}
label.radio-wrapper:hover input ~ .checkmark {
  background-color: #5e6b71;
}
label.radio-wrapper .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #2586EF;
}

.btn-row {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.otp-wrapper {
  display: flex;
  margin-top: 30px;
}
.otp-wrapper > div {
  margin: 0 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.otp-wrapper > div input {
  margin: 0;
  padding: 0 !important;
  font-size: 24px;
  text-align: center;
}

input[type=text],
input[type=email],
input[type=date],
input[type=time],
input[type=password],
textarea,
select,
option {
  width: 100%;
  border: none;
  border-bottom: 1.5px solid #5e6b71;
  border-radius: 0;
  background: transparent;
  margin-right: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-bottom: 3px;
  outline: none;
  color: #555555;
  font-size: 1.8rem;
  resize: none;
}
@media only screen and (max-width: 576px) {
  input[type=text],
input[type=email],
input[type=date],
input[type=time],
input[type=password],
textarea,
select,
option {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
  }
}

select {
  background: url("../img/dropdown.svg") no-repeat 100%;
}

.openBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.overlay {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
}
.overlay .overlay-content {
  position: relative;
  top: 10%;
  width: 90%;
  height: 45px;
  padding: 0 35px 0px 10px;
  margin: 0 auto;
  background: #F2F2F2;
  border-radius: 50px;
}
.overlay .overlay-content .search-input {
  width: 90%;
  height: 100% !important;
  margin: auto;
  border: none;
}
.overlay .overlay-content .closebtn {
  position: absolute;
  right: 10px;
  cursor: pointer;
}

.btn {
  border-radius: 8px;
  color: white;
  border: 1px solid #2586EF;
  font-size: 18px;
  padding: 8px 20px;
  cursor: pointer;
  background: #2586EF;
  width: 120px;
}
.btn:hover, .btn:active, .btn:focus {
  background: white;
  color: #2586EF;
}
.btn.grey {
  background-color: #5e6b71;
}
.btn.light-grey {
  background-color: #90A4AE;
  border-color: #90A4AE;
}

.bottom-btns {
  display: flex;
  justify-content: space-between;
  margin: 45px 0 15px;
}

.close-btn {
  background: #fff !important;
  border: 1px solid #2586EF !important;
  color: #2586EF;
}
.close-btn:hover {
  background: #2586EF !important;
  color: #fff !important;
}

.week-btn {
  border: none;
  width: 100%;
  margin: 0 2px;
  padding: 5px 0;
  border-radius: 4px;
  background: none;
}
.week-btn p:first-child {
  color: #BCC1CD;
  margin: auto 0;
}
.week-btn p:last-child {
  font-size: 16px;
  margin: auto 0;
  color: #333333;
}

.week-btn:hover,
.week-btn:active,
.week-btn:focus {
  background: #2586EF;
}
.week-btn:hover p,
.week-btn:active p,
.week-btn:focus p {
  color: #fff !important;
}

section.login-form {
  background-image: url(../img/bgimg.png);
  height: 100vh;
}
section.login-form .blob {
  position: absolute;
  top: 0;
}
section.login-form .logo {
  height: 80px;
  margin: 80px 0 30px;
}
section.login-form .form-wrapper {
  background: white;
  padding: 15px;
}
section.login-form .form-wrapper p {
  text-align: center;
  margin-bottom: 20px;
}
section.login-form .form-wrapper .form-group {
  height: 47px;
  margin-bottom: 15px;
  border-radius: 8px;
  border: 1px solid #5e6b71;
  display: flex;
  flex-direction: column;
  position: relative;
}
section.login-form .form-wrapper .form-group::after {
  position: absolute;
  content: "";
  height: 45px;
  width: 45px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-size: 24px !important;
  right: 0;
}
section.login-form .form-wrapper .form-group.email::after {
  background: #5e6b71 url("../img/user.svg") no-repeat center;
}
section.login-form .form-wrapper .form-group.email.active::after {
  background: #2586EF url("../img/user.svg") no-repeat center;
}
section.login-form .form-wrapper .form-group.password::after {
  background: #5e6b71 url("../img/padlock.svg") no-repeat center;
}
section.login-form .form-wrapper .form-group.password.active::after {
  background: #2586EF url("../img/padlock.svg") no-repeat center;
}
section.login-form .form-wrapper .form-group.active {
  border: 1px solid #2586EF;
}
section.login-form .form-wrapper .form-group label {
  margin: 3px 0 0 10px;
}
section.login-form .form-wrapper .form-group input {
  border: none;
  border-radius: 8px;
  padding-left: 10px;
}
section.login-form .form-wrapper button {
  margin: 20px 0;
}
section.order-summary .shade p {
  color: #999999;
}
section.order-summary .b-t {
  border-top: 2px solid #333333;
  border-bottom: 2px solid #333333;
}
section.order-summary .print {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 40px 0 25px;
}
section.order-summary .print a {
  text-decoration: none;
  border-bottom: 1px solid #2586EF;
  color: #2586EF;
  margin-left: 5px;
}
section.order-summary .order-head {
  color: #333333;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid #EEEEEE;
}
section.order-summary .add-paymt {
  display: flex;
  margin: 25px 0;
}
section.order-summary .add-paymt p {
  color: #0059BA;
  margin: auto 0;
  padding-right: 10px;
}
section.order-summary .add-paymt .add-icon {
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #0059BA;
  border-radius: 50%;
  cursor: pointer;
}
section.order-summary .add-paymt .add-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.data-sorting .edit {
  display: flex;
}
section.data-sorting .edit .edit-img {
  position: relative;
  color: #2586EF;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: rgba(37, 134, 239, 0.1);
}
section.data-sorting .edit .edit-img img {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.data-sorting .edit a {
  color: #2586EF;
  margin: auto 10px;
  text-decoration: none;
}
section.data-sorting .sort-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.data-sorting .sort-head .date {
  display: flex;
  align-items: center;
}
section.data-sorting .sort-head .date .day-num {
  font-size: 40px;
}
section.data-sorting .sort-head .date span {
  margin: auto 0;
  line-height: 7px;
}
section.data-sorting .sort-head .sorting-form {
  display: flex;
  align-items: center;
}
section.data-sorting .sort-head .my-today {
  color: #2586EF;
  background: rgba(37, 134, 239, 0.29);
  padding: 8px 18px;
  border-radius: 4px;
}
section.data-sorting .week-order {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid #FAF9F9;
}
section.data-sorting .sort-order {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}
section.data-sorting .sort-order p {
  color: #BCC1CD;
  margin: auto 0;
}
section.data-sorting .sort-order img {
  cursor: pointer;
}
section.data-sorting .sort-order span {
  display: flex;
}
section.data-sorting .add-order {
  position: relative;
  width: 50px;
  height: 50px;
  padding: 20px 0;
  background: #2586EF;
  box-shadow: 0px 4px 15px rgba(37, 134, 239, 0.25);
  border-radius: 50%;
  cursor: pointer;
}
section.data-sorting .add-order img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.data-sorting .footer-pagination {
  display: flex;
  padding: 20px 0;
  margin-top: 25px;
  background: #fff;
}
section.data-sorting .footer-pagination .pagination-input {
  width: 40px;
  margin: auto 0;
  border: 1px solid #5e6b71;
  border-radius: 4px;
}
section.data-sorting .footer-pagination .pagination-input input {
  width: 100%;
  border: none;
}
section.data-sorting .footer-pagination .pagination-input input::-webkit-outer-spin-button,
section.data-sorting .footer-pagination .pagination-input input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
section.data-sorting .footer-pagination p {
  margin: auto 0;
  padding: 0 10px;
}
section.data-sorting .footer-pagination .pagination a {
  background: #fff;
  padding: 8px;
  border: 1px solid #E0E0E0;
  border-radius: 4px;
  text-decoration: none;
  color: #2586EF;
  margin-left: 20px;
}
section.data-sorting .footer-pagination .pagination a:hover,
section.data-sorting .footer-pagination .pagination a:active,
section.data-sorting .footer-pagination .pagination a:focus {
  border: 1px solid #2586EF;
  background: #2586EF;
  color: #fff;
}
section.data-sorting .footer-pagination .pagination a:hover img,
section.data-sorting .footer-pagination .pagination a:active img,
section.data-sorting .footer-pagination .pagination a:focus img {
  filter: brightness(0) invert(1);
}
section.data-sorting .head-text {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  margin: 35px 0;
}
section.customer-care .accordion-wrap {
  position: absolute;
  max-width: 100%;
}
section.customer-care .today-date {
  display: flex !important;
  align-items: center;
}
section.customer-care .today-date .day-num {
  font-size: 40px;
}
section.customer-care .today-date .day {
  line-height: 10px;
}
section.customer-care .dash-rating {
  text-align: center;
}
section.customer-care .dash-rating p:first-child {
  font-size: 24px;
}
section.customer-care .sort {
  display: flex;
  align-items: center !important;
  justify-content: flex-end;
}
section.customer-care .sort .dropdown .dropdown-menu {
  transform: translate(-85%, 50%) !important;
}
section.customer-care .a-orders {
  padding: 0 10px;
  background-color: #fff;
  color: #333333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
section.customer-care .a-orders .ico1 {
  position: relative;
  border-radius: 50%;
  background-color: rgba(37, 134, 239, 0.2);
  width: 48px;
  height: 48px;
}
section.customer-care .a-orders .ico1 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.customer-care .a-orders:hover {
  background: #2586EF;
  color: #fff;
}
section.customer-care .a-orders:hover .ico1 {
  background-color: rgba(255, 255, 255, 0.3);
}
section.customer-care .a-orders:hover .ico1 img {
  filter: brightness(0) invert(1);
}
section.customer-care .a-orders:hover p {
  color: white !important;
}
section.customer-care .p-orders {
  padding: 0 10px;
  background-color: #fff;
  color: #333333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
section.customer-care .p-orders .ico2 {
  position: relative;
  border-radius: 50%;
  background-color: rgba(235, 87, 87, 0.2);
  width: 48px;
  height: 48px;
}
section.customer-care .p-orders .ico2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.customer-care .p-orders:hover {
  background: #EB5757;
  color: #fff;
}
section.customer-care .p-orders:hover .ico2 {
  background-color: rgba(255, 255, 255, 0.3);
}
section.customer-care .p-orders:hover .ico2 img {
  filter: brightness(0) invert(1);
}
section.customer-care .p-orders:hover p {
  color: white !important;
}
section.customer-care .o-orders {
  padding: 0 10px;
  background-color: #fff;
  color: #333333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
section.customer-care .o-orders .ico2 {
  position: relative;
  border-radius: 50%;
  background-color: rgba(255, 165, 0, 0.2);
  width: 48px;
  height: 48px;
}
section.customer-care .o-orders .ico2 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.customer-care .o-orders:hover {
  background: #F2994A;
  color: #fff;
}
section.customer-care .o-orders:hover .ico {
  background-color: rgba(255, 255, 255, 0.3);
}
section.customer-care .o-orders:hover .ico img {
  filter: brightness(0) invert(1);
}
section.customer-care .o-orders:hover p {
  color: white !important;
}
section.customer-care .c-orders {
  padding: 0 10px;
  background-color: #fff;
  color: #333333;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}
section.customer-care .c-orders .ico3 {
  position: relative;
  border-radius: 50%;
  background-color: rgba(20, 238, 131, 0.2);
  width: 48px;
  height: 48px;
}
section.customer-care .c-orders .ico3 img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
section.customer-care .c-orders:hover {
  background: #5FC068;
  color: #fff;
}
section.customer-care .c-orders:hover .ico3 {
  background-color: rgba(255, 255, 255, 0.3);
}
section.customer-care .c-orders:hover .ico3 img {
  filter: brightness(0) invert(1);
}
section.customer-care .c-orders:hover p {
  color: white !important;
}

.color-blue {
  color: #2586EF;
}

div.fm {
  /* Hide the browser's default radio button */
  /* Create a custom radio button */
  /* On mouse-over, add a grey background color */
  /* When the radio button is checked, add a blue background */
  /* Create the indicator (the dot/circle - hidden when not checked) */
  /* Show the indicator (dot/circle) when checked */
  /* Style the indicator (dot/circle) */
}
div.fm .container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
div.fm .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
div.fm .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}
div.fm .container:hover input ~ .checkmark {
  background-color: #ccc;
}
div.fm .container input:checked ~ .checkmark {
  background-color: #E0E0E0;
}
div.fm .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
div.fm .container input:checked ~ .checkmark:after {
  display: block;
}
div.fm .container .checkmark:after {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #2F80ED;
}

/* ACCORDION */
.accordion {
  padding: 10px 0;
}
.accordion .accordion-head {
  margin-bottom: 0;
  display: flex;
  align-items: center;
}
.accordion .accordion-text {
  color: #000;
  padding: 10px 15px 20px;
}
.accordion .accord-btn.collapsed img {
  transform: rotate(0deg);
}
.accordion .accord-btn {
  width: 100%;
  display: flex;
  background-color: transparent !important;
  border: none !important;
  align-items: center;
  text-align: left;
}
.accordion .accord-btn .accordion-p {
  font-size: 16px;
  color: #000;
  font-weight: bold;
  margin: auto 0;
}
.accordion .acc-arr {
  position: relative;
  margin-right: 35px;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  background: #2586EF;
}
.accordion .acc-arr img {
  position: absolute;
  top: 41%;
  left: 32%;
}
.accordion .accord-btn img {
  transform: rotate(180deg);
}
.accordion .pending {
  background: #EB5757;
}
.accordion .pending-text {
  color: #EB5757;
}
.accordion .processing {
  background: #2586EF;
}
.accordion .balance {
  background: #F2994A;
}
.accordion .balance-text {
  color: #F2994A;
}
.accordion .paid {
  background: #5FC068;
}
.accordion .paid-text {
  color: #5FC068;
}

.orderid-text {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
}

.top-accordi {
  position: relative;
}

.bottom-accordi {
  position: absolute;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

.order-timeline {
  position: relative;
  width: 100%;
}
.order-timeline::after {
  content: "";
  position: absolute;
  width: 2.5px;
  background-color: #FAF9F9;
  top: 0;
  left: 50px;
  height: 100%;
}
.order-timeline .order-id {
  display: flex;
  justify-content: space-between;
}
.order-timeline .order-id p {
  font-size: 16px !important;
}
.order-timeline .order-id img {
  cursor: pointer;
}
.order-timeline .order-type {
  margin: 5px 0 17px;
}
.order-timeline .order-time {
  font-size: 16px;
  line-height: 17px;
  color: #333333;
}
.order-timeline .order-time p:last-child {
  color: #BCC1CD;
}

.order-details {
  width: 100%;
  background-color: #F6F6F5;
  border-radius: 10px;
  padding: 15px;
  margin: 0 0 15px 20px;
  cursor: pointer;
}
.order-details p {
  font-size: 12px;
  margin: auto 0;
  color: #333333;
}
.order-details .order-name {
  display: flex;
  margin-top: 5px;
}
.order-details .order-name img {
  width: 22px;
  height: 22px;
  margin-right: 10px;
  border-radius: 50%;
}

.order-details:hover {
  background-color: #2586EF;
}
.order-details:hover p {
  color: #fff;
}
.order-details:hover .order-i {
  filter: brightness(0) invert(1);
}

/*# sourceMappingURL=main.css.map */
