/* Error: expected "}".
 *     ,
 * 507 | }
 *     |  ^
 *     '
 *   sass\modules\_sections.scss 507:2  @import
 *   sass\modules\_index.scss 3:9       @import
 *   sass\main.scss 4:9                 root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "}".\a     \2577 \a 507 \2502  }\a     \2502   ^\a     \2575 \a   sass\\modules\\_sections.scss 507:2  @import\a   sass\\modules\\_index.scss 3:9       @import\a   sass\\main.scss 4:9                 root stylesheet';
}
