nav.navbar{
  background-color: $blue;
  margin-bottom: 20px;

  .navbar-brand {
    padding: 0;
    text-decoration: none;
    color: white;
    font-size: 16px;

    img{
      height: 50px;
      border-radius: 50%;
    }
  }

  .navbar-toggler{
    img{
      height: 28px;
    }
  }

  .navbar-nav{
    a{
      color: white;
      font-size: 16px;
      text-decoration: none;
    }
  }

  .offcanvas-collapse {
    position: fixed;
    top: 60px;
    bottom: 33px;
    z-index: 10000;
    width: 100%;
    padding: 30px;
    overflow-y: auto;
    background-color: $blue;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transition: -webkit-transform .3s ease-in-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }

  .offcanvas-collapse.open {
    transform: translateX(-1rem); /* Account for horizontal padding on navbar */
  }
}

.sidenav {
  .logo {
    height: 55px;
  margin: 20% 25% 30px;
  }

    .space {
      margin-bottom: 50px;
    }

  height: 100%;
  width: 220px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav p {
  padding: 3px 4px 3px 8px;
}

.sidenav a {
  img{
    padding-right: 20px;
  }
  padding: 15px 8px 15px 16px;
  text-decoration: none;
  // font-size: 25px;
  color:  #666666;
  display: block;
}

.sidenav a:hover {

img {

        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(152deg) brightness(170%) contrast(103%);
}
}
.sidenav a:hover {
  // img {
  //   filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(152deg) brightness(103%) contrast(103%);
  // }
  color: #FFFFFF;
  background-color: #2586EF;
}