html, body {
  overflow-x: hidden;
  font-size: 62.5%;
}
/*
body {
  font-family: $ffb;
  color: $black;
  font-size: 1.6rem;
  //color: $black;
}

a {
  //color: $black;
  text-decoration: none;

  &:hover {
    color: $blue;
    text-decoration: none;
  }
}

%head{
  font-weight: bold;
  margin: 0 0 1rem;
}

h1 {
  @extend %head;
  font-size: 4.2rem;
  color: $blue-grey;

  @media (max-width: 767px){
    font-size: 3.6rem;
  }
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
  color: $grey;
}

h4 {
  font-size: 2rem;
  //color: $blue;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

p, ul, li {
  font-size: 2rem;
  font-weight: $normal;
}

a {/*
  color: $blue;
  font-size: 2rem;
  font-weight: $bold;

  img.arrow{
    height: 30px;
    padding-left: 10px;

    @media only screen and (max-width: $mobile_width) {
      height: 24px;
    }
  }

  &:hover{
    color: initial;
  }
}
*/

html, body {
  overflow-x: hidden;
}

.bgimg {
  background-image: url(/img/bgimg.png);
}

.bgimg2 {
  width: 100%;
}











