html, body {
  overflow-x: hidden;
  font-size: 62.5%;
}

body{
  font-family: $ffb;
  background: url(/img/bgimg2.png) repeat center fixed;
  background-size: 100%;
  padding-bottom: 75px;
  
  @media (max-width: $tablet_width) {
    background-repeat:  no-repeat;
  }

}
h1,h2,h3,h4,h5,h6{
  font-family: $ffh;
  background: url("../img/title-bg.png") no-repeat center;
  padding: 15px;
  background-size: 64vw;
  text-align: center;
  color: $black;
  font-size: 18px
}

h1{
  margin: 20px 0;
}

p, td{
  font-family: $ffb;
  font-size: 14px;
  color: $black;
}

label{
  font-size: 12px;
  color: $black;
}

input{
  font-size: 14px;
  margin: 0;
  color: $black;
}

a{
  color: $blue;
  text-decoration: underline;
  font-size: 14px;
}

*{
  &:focus, &:active{
    outline: none !important;
  }
}

.p-7{
  padding-top: 75px;
  }


.date {
  max-width: 50%;
}

.num{
  font-size: 24px;
  text-align: center;
}

.shade {
  p {
    color: #999999 !important;
  }
}

.lack {
  text-decoration: none;
}
