.btn {
  border-radius: 8px;
  color: white;
  border: 1px solid $blue;
  font-size: 18px;
  padding: 8px 20px;
  cursor: pointer;
  background: $blue;
  width: 120px;

  &:hover, &:active, &:focus {
    background: white;
    color: $blue;
  }

  &.grey{
    background-color: $grey;
  }

  &.light-grey{
    background-color: $light-grey;
    border-color: $light-grey;
  }
}

// Save || Close button
.bottom-btns {
  display: flex;
  justify-content: space-between;
  margin: 45px 0 15px;
}
.close-btn {
  background: #fff !important;
  border: 1px solid $blue !important;
  color: $blue;

  &:hover {
    background: $blue !important;
    color: #fff !important;
  }
}

.week-btn {
  border: none;
  width: 100%;
  margin: 0 2px;
  padding: 5px 0;
  border-radius: 4px;
  background: none;

  
  p:first-child {
    color: #BCC1CD;
    margin: auto 0;
    
  }
  p:last-child {
    font-size: 16px;
    margin: auto 0;
    color: $deep-black;
  }
}
.week-btn:hover,
.week-btn:active,
.week-btn:focus {
  background: $blue;
  p {
    color: #fff !important;
  }
}