.btn {
  border-radius: 8px;
  color: white;
  //border: 2px solid $blue;
  font-size: 14px;
  padding: 6px 20px;
  cursor: pointer;
  background: $blue;

  &:hover {
    background: white;
    color: $blue;
  }
}