.btn {
  border-radius: 8px;
  color: white;
  //border: 2px solid $blue;
  font-size: 18px;
  padding: 8px 20px;
  cursor: pointer;
  background: $blue;

  &:hover {
    background: white;
    color: $blue;
  }

  width: 35%;
}

// Save || Close button
.bottom-btns {
  display: flex;
  justify-content: space-between;
  margin: 45px 0 15px;
}
.close-btn {
  background: #fff !important;
  border: 1px solid $blue !important;
  color: $blue;

  &:hover {
    background: $blue !important;
    color: #fff !important;
  }
}