label.checkbox-wrapper {
  display: block;
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark:after {
      display: block;
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: $grey;

    &::after {
      content: "";
      position: absolute;
      display: none;

      left: 8px;
      top: 4px;
      width: 6px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &:hover input ~ .checkmark {
    //background-color: #ccc;
  }

  input:checked ~ .checkmark {
    background-color: #2196F3;
  }
}

.booking-options {

  h6 {
    background-image: url(/img/Bokheader.png);
    background-size: 80%;
    background-repeat: no-repeat;
    padding-bottom: 30px;
    padding-top: 30px;
    background-position: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    font-family: QumpellkaNo12;
    color: #fff;
  }

  .form-check-label {
    margin-bottom: 15px;
  }

  .btn-primary {
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 8px;
    font-size: 14px;
  }
}
