label.checkbox-wrapper {
  display: block;
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked~.checkmark:after {
      display: block;
    }
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: $grey;

    &::after {
      content: "";
      position: absolute;
      display: none;

      left: 8px;
      top: 4px;
      width: 6px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &:hover input~.checkmark {
    //background-color: #ccc;
  }

  input:checked~.checkmark {
    background-color: #2196F3;
  }
}

label.radio-wrapper {
  display: block;
  position: relative;
  padding-left: 32px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: $grey;
    border-radius: 50%;
  }

  input:checked~.checkmark {
    background-color: $grey;

    &::after {
      display: block;
    }
  }

  &:hover input~.checkmark {
    background-color: $grey;
  }

  .checkmark::after {
    content: "";
    position: absolute;
    display: none;

    //top: 5px;
    //left: 5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: $blue;
  }
}

.btn-row {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.otp-wrapper {
  display: flex;
  margin-top: 30px;

  >div {
    margin: 0 3px;
    display: flex;
    align-items: center;
    justify-content: center;

    input {
      margin: 0;
      padding: 0 !important;
      font-size: 24px;
      text-align: center;
    }
  }
}

input[type="text"],
input[type="email"],
input[type="date"],
input[type="time"],
input[type="password"],
textarea,
select,
option {
  width: 100%;
  border: none;
  border-bottom: 1.5px solid $grey;
  border-radius: 0;
  background: transparent;
  margin-right: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-bottom: 3px;
  outline: none;
  color: $black;
  font-size: 1.8rem;
  resize: none;

  @media only screen and (max-width: $mobile_width) {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: $light;
  }
}

select {
  background: url("../img/dropdown.svg") no-repeat 100%;
}

// Search Section sytling
.openBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.overlay {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;

  .overlay-content {
    position: relative;
    top: 10%;
    width: 90%;
    height: 45px;
    padding: 0 35px 0px 10px;
    margin: 0 auto;
    background: #F2F2F2;
    border-radius: 50px;

    .search-input {
      width: 90%;
      height: 100% !important;
      margin: auto;
      border: none;
    }

    .closebtn {
      position: absolute;
      right: 10px;
      cursor: pointer;
    }
  }
}

// // custon select 
// .custom-selec {
//   position: relative;
//   height: 40px;
//   border: 1px solid $grey;
//   border-radius: 8px 8px 4px 4px;
//   background: #fff;

//   &::after {
//     content: url(../img/arr-down.svg);
//     position: absolute;
//     top: 43%;
//     right: 15px;
//   }

//   select {
//     height: 100%;
//     padding-left: 15px;
//     border: none !important;
//     padding-bottom: 0 !important;
//   }
// }

/*  Desktop navbar  search bar */
.dash-search {
  display: flex;
  width: 50%;
  height: 50px;
  position: relative;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  padding: 10px 20px;
  background-color: #f4f4f4;
  border-radius: 50px;
  
  img {
    width: 16px;
    margin-right: 5px;
  }
  
  input {
    border-bottom: none !important;
  }
  
  ::placeholder {
    color: #cfcfcf;
    font-size: 16px;
  }
}
 /* Desktop view table search */ 
.search-filter {
  display: flex;
  height: 50px;
  padding: 10px 20px;
  background-color: #f4f4f4;
  border-radius: 5px;

  input {
    border-bottom: none !important;
    // width: 100px;
  }

  img {
    width: 20px;
    filter: invert(80%) sepia(23%) saturate(7%) hue-rotate(95deg) brightness(96%) contrast(100%);
  }

  ::placeholder {
    font-size: 12px;
    color: #6E6893;
  }
}