label.checkbox-wrapper {
  display: block;
  position: relative;
  padding-left: 32px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;

    &:checked ~ .checkmark:after {
      display: block;
    }
  }

  

  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 22px;
    background-color: $grey;

    &::after {
      content: "";
      position: absolute;
      display: none;

      left: 8px;
      top: 4px;
      width: 6px;
      height: 12px;
      border: solid white;
      border-width: 0 2px 2px 0;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }

  &:hover input ~ .checkmark {
    //background-color: #ccc;
  }

  input:checked ~ .checkmark {
    background-color: #2196F3;
  }
}



input[type="text"], input[type="email"], input[type="password"], select, option{
  width: 100%;
  border: none;
  border-bottom: 1.4px solid #A9B3B8;
  border-radius: 0;
  background: transparent;
  margin-right: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-bottom: 3px;
  outline: none;
  color: #9AA7AC;
  font-size: 1.8rem;

  @media only screen and (max-width: $mobile_width) {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    font-weight: $light;  
  }
}