section {
  &.login-form {
    background-image: url(../img/bgimg.png);
    height: 100vh;

    .blob {
      position: absolute;
      top: 0;
    }

    .logo {
      height: 80px;
      margin: 80px 0 30px;
    }

    .form-wrapper {
      background: white;
      padding: 15px;

      p {
        text-align: center;
        margin-bottom: 20px;
      }

      .form-group {
        height: 47px;
        margin-bottom: 15px;
        border-radius: 8px;
        border: 1px solid $grey;
        display: flex;
        flex-direction: column;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          height: 45px;
          width: 45px;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          background-size: 24px !important;
          right: 0;
        }

        &.email {
          &::after {
            background: $grey url("../img/user.svg") no-repeat center;
          }

          &.active {
            &::after {
              background: $blue url("../img/user.svg") no-repeat center;
            }
          }
        }

        &.password {
          &::after {
            background: $grey url("../img/padlock.svg") no-repeat center;
          }

          &.active {
            &::after {
              background: $blue url("../img/padlock.svg") no-repeat center;
            }
          }
        }

        &.active {
          border: 1px solid $blue;
        }

        label {
          margin: 3px 0 0 10px;
        }

        input {
          border: none;
          border-radius: 8px;
          padding-left: 10px;
        }
      }

      button {
        margin: 20px 0;
      }
    }
  }

  &.booking-options {

  }

  &.customer-details{

  }

  &.order-summary {
    .shade {
      p {
        color: #999999;
      }
    }

    .b-t {
      border-top: 2px solid #333333;
      border-bottom: 2px solid #333333;
    }
  }
}