section {

  
  &.home-sec {

    .logo {
      width: 198px;
    }

    .des {
      a {
        text-decoration: none;
      }
    }
    
    .des:active {
      img {
       filter: invert(49%) sepia(86%) saturate(4052%) hue-rotate(195deg) brightness(98%) contrast(91%);
      }

      p {
       filter: invert(49%) sepia(86%) saturate(4052%) hue-rotate(195deg) brightness(98%) contrast(91%);
      }

      .filt{
       border-radius: 50%;
       border: 3px solid #2586EF;
       width: 144px;
       height: 144px;
       top: 0;
       left: 50%;
       transform: translate(-50%, 0%);
       position: relative;

       
      }
   }

  .des:active::after {
    position: absolute;
    content: url(/img/chosen.svg);
    background: #2586EF;
    top: 0%;
    right: 26%;
    padding: 10px;
    border-radius: 50%;

  }

  
  .filt{
     // border-radius: 50%;
       // border: 3px solid #2586EF;
       width: 144px;
       height: 144px;
       top: 0;
       left: 50%;
       transform: translate(-50%, 0%);
       position: relative;


     img {
   top: 25%;
   left: 25%;
   position: absolute;
     }
  }

  .form-wrapper {
    background: white;
    padding: 15px;

    p {
      text-align: center;
      margin-bottom: 20px;
    }

    .form-group {
      height: 47px;
      margin-bottom: 15px;
      border-radius: 8px;
      border: 1px solid $grey;
      display: flex;
      flex-direction: column;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        height: 45px;
        width: 45px;
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        background-size: 24px !important;
        right: 0;
      }

      &.email {
        &::after {
          background: $grey url("../img/user.svg") no-repeat center;
        }

        &.active {
          &::after {
            background: $blue url("../img/user.svg") no-repeat center;
          }
        }
      }

      &.password {
        &::after {
          background: $grey url("../img/padlock.svg") no-repeat center;
        }

        &.active {
          &::after {
            background: $blue url("../img/padlock.svg") no-repeat center;
          }
        }
      }

      &.active {
        border: 1px solid $blue;
      }

      label {
        margin: 3px 0 0 10px;
      }

      input {
        border: none;
        border-radius: 8px;
        padding-left: 10px;
      }
    }

    button {
      margin: 20px 0;
    }
  }

}

  &.login-form {
    background-image: url(../img/bgimg.png);
    height: 100vh;

    .blob {
      position: absolute;
      top: 0;
    }

    .logo {
      height: 80px;
      margin: 80px 0 30px;
    }

    .form-wrapper {
      background: white;
      padding: 15px;

      p {
        text-align: center;
        margin-bottom: 20px;
      }

      .form-group {
        height: 47px;
        margin-bottom: 15px;
        border-radius: 8px;
        border: 1px solid $grey;
        display: flex;
        flex-direction: column;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          height: 45px;
          width: 45px;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          background-size: 24px !important;
          right: 0;
        }

        &.email {
          &::after {
            background: $grey url("../img/user.svg") no-repeat center;
          }

          &.active {
            &::after {
              background: $blue url("../img/user.svg") no-repeat center;
            }
          }
        }

        &.password {
          &::after {
            background: $grey url("../img/padlock.svg") no-repeat center;
          }

          &.active {
            &::after {
              background: $blue url("../img/padlock.svg") no-repeat center;
            }
          }
        }

        &.active {
          border: 1px solid $blue;
        }

        label {
          margin: 3px 0 0 10px;
        }

        input {
          border: none;
          border-radius: 8px;
          padding-left: 10px;
        }
      }

      button {
        margin: 20px 0;
      }
    }
  }

  &.booking-options {}

  &.customer-details {

  }
  &.order-summary {
    .shade {
      p {
        color: #999999;
      }
    }

    .b-t {
      border-top: 2px solid #333333;
      border-bottom: 2px solid #333333;
    }

    // ACCOUNT-INVOICE STYLING 
    .print {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 40px 0 25px;

      a {
        text-decoration: none;
        border-bottom: 1px solid $blue;
        color: $blue;
        margin-left: 5px;
      }
    }


    // Order title text styling
    .order-head {
      color: $deep-black;
      font-weight: $bold;
      padding-bottom: 5px;
      border-bottom: 1px solid #EEEEEE;
    }

    // Add-more payment option styling
    .add-paymt {
      display: flex;
      margin: 25px 0;

      p {
        color: $deep-blue;
        margin: auto 0;
        padding-right: 10px;
      }

      .add-icon {
        position: relative;
        width: 25px;
        height: 25px;
        background-color: $deep-blue;
        border-radius: 50%;
        cursor: pointer;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  &.data-sorting {

    //  Edit link styling
    .edit {
      display: flex;

      .edit-img {
        position: relative;
        color: $blue;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: rgba(37, 134, 239, 0.1);

        img {
          margin: 0 auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      a {
        color: $blue;
        margin: auto 10px;
        text-decoration: none;
      }
    }

    // header date
    .sort-head {
      display: flex;
      align-items: center;

      .date {
        display: flex;
        align-items: center;

        .day-num {
          font-size: 40px;
        }

        span {
          margin: auto 0;
          line-height: 7px;
        }
      }

      .sorting-form {
        display: flex;
        align-items: center;
        margin-left: auto;
      }

      .my-today {
        color: $blue;
        background: rgba(37, 134, 239, 0.29);
        padding: 8px 18px;
        border-radius: 4px;
      }


      /* Sorting dropdown */
      .sort-dropdown {
        button {
          border: none;
          background-color: transparent !important;
        }
        .dropdown-menu {
          width: 180px;
          padding: 15px;
          top: -8px !important;
          left: -54px;
          background-color: #fff;
          border: none;
          border-radius: 4px;
          box-shadow: 16px 16px 32px rgba(102, 102, 102, 0.15);
          .dropdown-item {
            color: $grey;
            text-decoration: none;
            padding: 8px 0;

          }
          .dropdown-item:focus {
            color: #000;
            background-color: transparent !important;
          }
          .drop-checked::after {
            position: absolute;
            content: url(../img/drop-check.svg);
            right: 5px;
          }
        }
      }

    }

    // Order Weekly calender
    .week-order {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 10px;
      margin-bottom: 30px;
      border-bottom: 1px solid $dem-grey;
    }

    // sort booking order
    .sort-order {
      display: flex;
      justify-content: space-between;
      margin: 15px 0;

      p {
        color: #BCC1CD;
        margin: auto 0;
      }

      img {
        cursor: pointer;
      }

      span {
        display: flex;
      }
    }

    .add-order {
      position: relative;
      width: 50px;
      height: 50px;
      padding: 20px 0;
      background: $blue;
      box-shadow: 0px 4px 15px rgba(37, 134, 239, 0.25);
      border-radius: 50%;
      cursor: pointer;

      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    // Pagination styling
    .footer-pagination {
      display: flex;
      padding: 20px 0;
      margin-top: 25px;
      background: #fff;

      .pagination-input {
        width: 40px;
        margin: auto 0;
        border: 1px solid $grey;
        border-radius: 4px;

        input {
          width: 100%;
          border: none;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      p {
        margin: auto 0;
        padding: 0 10px;
      }

      .pagination {

        a {
          background: #fff;
          padding: 8px;
          border: 1px solid #E0E0E0;
          border-radius: 4px;
          text-decoration: none;
          color: $blue;
          margin-left: 20px;
        }

        a:hover,
        a:active,
        a:focus {
          border: 1px solid $blue;
          background: $blue;
          color: #fff;
        }

        // pagination arrow SVG color styling on hover / focus / active 
        a:hover img,
        a:active img,
        a:focus img {
          filter: brightness(0) invert(1);
        }
      }
    }

    // Message writer assigned title header styling
    .head-text {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      margin: 35px 0;
    }


  }

  &.customer-care {
    // position: relative;

    .accordion-wrap {
      position: absolute;
      max-width: 100%;
    }

    .today-date {
      display: flex !important;
      align-items: center;

      .day-num {
        font-size: 40px;
      }

      .day {
        line-height: 10px;
      }
    }

    .dash-rating {
      text-align: center;

      p:first-child {
        font-size: 24px;
      }
    }

    // .ico {
    //   position: relative;
    //   background-color: rgba(242, 153, 74, 0.2);
    //   border-radius: 50%;
    //   width: 48px;
    //   height: 48px;
    //   /* left: 6px; */

    //   .day-num {
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     position: absolute;
    //   }
    // }

    // .ico1 {
    //   position: relative;
    //   background-color: rgba(37, 134, 239, 0.2);
    //   border-radius: 50%;
    //   width: 48px;
    //   height: 48px;
    //   /* left: 6px; */

    //   .day-num {
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     position: absolute;
    //   }
    // }


    // .ico3 {
    //   position: relative;
    //   background-color: rgba(20, 238, 131, 0.2);
    //   border-radius: 50%;
    //   width: 48px;
    //   height: 48px;
    //   /* left: 6px; */

    //   .day-num {
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     position: absolute;
    //   }
    // }

    .sort {
      display: flex;
      align-items: center !important;
      justify-content: flex-end;

      .dropdown {
        .dropdown-menu {
          transform: translate(-85%, 50%) !important;
        }
      }
    }




    // customer care page All-orders styling
    .a-orders {
      padding: 0 10px;
      background-color: #fff;
      color: $deep-black;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;

      .ico1 {
        position: relative;
        border-radius: 50%;
        background-color: rgba(37, 134, 239, 0.2);
        width: 48px;
        height: 48px;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &:hover {
        background: $blue;
        color: #fff;

        .ico1 {
          background-color: rgba(255, 255, 255, 0.3);

          img {
            filter: brightness(0) invert(1);
          }
        }

        p {
          color: white !important;
        }
      }
    }

    // customer care page pending-orders styling
    .p-orders {
      padding: 0 10px;
      background-color: #fff;
      color: $deep-black;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;

      .ico2 {
        position: relative;
        border-radius: 50%;
        background-color: rgba(235, 87, 87, 0.2);
        width: 48px;
        height: 48px;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &:hover {
        background: $red;
        color: #fff;

        .ico2 {
          background-color: rgba(255, 255, 255, 0.3);

          img {
            filter: brightness(0) invert(1);
          }
        }

        p {
          color: white !important;
        }
      }
    }

    // customer care page ongoing-orders styling
    .o-orders {
      padding: 0 10px;
      background-color: #fff;
      color: $deep-black;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;

      .ico2 {
        position: relative;
        border-radius: 50%;
        background-color: rgb(255, 165, 0, 0.2);
        width: 48px;
        height: 48px;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &:hover {
        background: #F2994A;
        color: #fff;

        .ico {
          background-color: rgba(255, 255, 255, 0.3);

          img {
            filter: brightness(0) invert(1);
          }
        }

        p {
          color: white !important;
        }
      }
    }


    // customer care page complete-orders styling
    .c-orders {
      padding: 0 10px;
      background-color: #fff;
      color: $deep-black;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
      border-radius: 4px;

      .ico3 {
        position: relative;
        border-radius: 50%;
        background-color: rgba(20, 238, 131, 0.2);
        width: 48px;
        height: 48px;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      &:hover {
        background: $green;
        color: #fff;

        .ico3 {
          background-color: rgba(255, 255, 255, 0.3);

          img {
            filter: brightness(0) invert(1);
          }
        }

        p {
          color: white !important;
        }
      }
    }
  }

  &.dashboard-main {

    // dashboard Sidebar navigation  
    .dash-body {
      background: #fff;
      margin: 30px 0;
      padding: 35px 50px;
    }

    .text-smal {
      font-size: 12px;
      color: #6E6893;
    }

    .txt-view {
      font-size: 12px;
      color: #6E6893;
      text-decoration: none;
    }

    .more-menu {
      cursor: pointer;

      &:hover {
        filter: invert(36%) sepia(98%) saturate(1210%) hue-rotate(194deg) brightness(98%) contrast(91%);
      }
    }

    // payment status sorting navigation sect
    .paymt-title {
      margin-top: 55px;
      font-weight: $bold;
      color: $deep-black;
    }

    .status-nav {
      display: flex;

      a {
        position: relative;
        text-decoration: none;
        margin-right: 15px;
        padding: 7px 5px;
        color: #90A4AE;

        &:hover {
          color: #000;
        }

        &:hover:after {
          content: '';
          position: absolute;
          width: 100%;
          height: 2.5px;
          background-color: $blue;
          border-radius: 3px;
          top: 95%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .entry {
      display: flex;
      justify-content: flex-end;

      p:first-child {
        margin: auto 0;
        font-size: 12px;
        font-weight: $semibold;
        padding-right: 5px;
      }

      p:last-child {
        margin: auto 0;
        font-weight: $bold;
        color: $blue;
      }
    }

    .filter-table {
      overflow-x: auto !important;
      background: #FFFFFF;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      padding: 20px 0 0;

      .dash-filter {
        display: flex;
        padding: 10px;

        .filter {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 2px solid #cfcfcf;
          margin-right: 15px;
          border-radius: 5px;
          height: 50px;
          width: 100px;
        }
      }
    }
  }

  &.ad-table {

    .ahead {
      font-size: 24px;
      margin-bottom: 73px;
    }

    .mar {
      margin-bottom: 60px;
    }

    .a-btn1 {
      height: 50px;
      width: 100%;
    }

    .a-btn2 {
      height: 50px;
      width: 100%;
      color: #2586EF;
      background: white;
    }

    select {
      background: none;
      border: 1px solid #BDBDBD;
      border-radius: 4px;
      padding: 5px;
      height: 50px;
    }



    .a-table {
      .fc {
        text-align:center;
        padding-left:0rem;
      }
      thead {
        tr {
          th {
            border: 2px solid white;
            vertical-align:initial;
          }
        }
      }
    
      tbody {
        tr {
          th {
            border: 0px solid white
          }
        }
      }

      tfoot {
        background-color: #FBFBFB;
        ;
        th {
          border-top: 0px solid #dee2e6;
        }
        input[type=text], input[type=email], input[type=date], input[type=time], input[type=password], textarea, select, option {
          width: 20%
      }
        select {
          height: 26px;
          background: url(../img/dropd-2.svg) no-repeat 100%;
          border: 0px solid #BDBDBD;
        }

        .page-link {
          color: #666666;
          background-color: #FBFBFB;
          border: 0px solid #dee2e6;
      }

        

        .mighty {
          display: inline;
          width:15%
        }
      
      }
    }


    .today-date {
      display: flex !important;
      align-items: center;

      // .day-num {
      //   font-size: 40px;
      // }

      .day {
        float: right;
        line-height: 0px;
        margin-left: auto;

        a {
          display: block;
          margin-bottom: 1rem;
        }
      }
    }
  }
}