section {
  &.login-form {
    background-image: url(../img/bgimg.png);
    height: 100vh;

    .blob {
      position: absolute;
      top: 0;
    }

    .logo {
      height: 80px;
      margin: 80px 0 30px;
    }

    .form-wrapper {
      background: white;
      padding: 15px;

      p {
        text-align: center;
        margin-bottom: 20px;
      }

      .form-group {
        height: 47px;
        margin-bottom: 15px;
        border-radius: 8px;
        border: 1px solid $grey;
        display: flex;
        flex-direction: column;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          height: 45px;
          width: 45px;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          background-size: 24px !important;
          right: 0;
        }

        &.email {
          &::after {
            background: $grey url("../img/user.svg") no-repeat center;
          }

          &.active {
            &::after {
              background: $blue url("../img/user.svg") no-repeat center;
            }
          }
        }

        &.password {
          &::after {
            background: $grey url("../img/padlock.svg") no-repeat center;
          }

          &.active {
            &::after {
              background: $blue url("../img/padlock.svg") no-repeat center;
            }
          }
        }

        &.active {
          border: 1px solid $blue;
        }

        label {
          margin: 3px 0 0 10px;
        }

        input {
          border: none;
          border-radius: 8px;
          padding-left: 10px;
        }
      }

      button {
        margin: 20px 0;
      }
    }
  }

  &.booking-options {
  }

  &.customer-details {
  }

  &.order-summary {
    .shade {
      p {
        color: #999999;
      }
    }

    .b-t {
      border-top: 2px solid #333333;
      border-bottom: 2px solid #333333;
    }

    // ACCOUNT-INVOICE STYLING 
    .print {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin: 40px 0 25px;

      a {
        text-decoration: none;
        border-bottom: 1px solid $blue;
        color: $blue;
        margin-left: 5px;
      }
    }


    // Order title text styling
    .order-head {
      color: $deep-black;
      font-weight: $bold;
      padding-bottom: 5px;
      border-bottom: 1px solid #EEEEEE;
    }

    // Add-more payment option styling
    .add-paymt {
      display: flex;
      margin: 25px 0;

      p {
        color: $deep-blue;
        margin: auto 0;
        padding-right: 10px;
      }

      .add-icon {
        position: relative;
        width: 25px;
        height: 25px;
        background-color: $deep-blue;
        border-radius: 50%;
        cursor: pointer;
        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    
  }

  &.data-sorting {
    height: 100vh;

    //  Edit link styling
    .edit {
      display: flex;

      .edit-img {
        position: relative;
        color: $blue;
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background: rgba(37, 134, 239, 0.1);

        img {
          margin: 0 auto;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      a {
        color: $blue;
        margin: auto 10px;
        text-decoration: none;
      }
    }

    // Comments
    .sort-head {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .date {
        display: flex;
        align-items: center;
        .day-num {
          font-size: 40px;
        }
        
        span {
          margin: auto 0;
          line-height: 7px;
        }
      }

      .sorting-form {
        display: flex;
        align-items: center;
      }

      .my-today {
        color: $blue;
        background: rgba(37, 134, 239, 0.29);
        padding: 8px 18px;
        border-radius: 4px;
      }

    }
    
    // Order Weekly calender
    .week-order {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 10px;
      margin-bottom: 30px;
      border-bottom: 1px solid $dem-grey;
    }



    .sort-order {
      display: flex;
      justify-content: space-between;
      margin: 15px 0;
      p {
        color: #BCC1CD;
        margin: auto 0;
      }

      img {
        cursor: pointer;
      }
      span {
        display: flex;
      }
    }

    .add-order {
      position: relative;
      width: 50px;
      height: 50px;
      padding: 20px 0;
      background: $blue;
      box-shadow: 0px 4px 15px rgba(37, 134, 239, 0.25);
      border-radius: 50%;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    // Pagination styling
    .footer-pagination {
      display: flex;
      padding: 20px 0;
      margin-top: 25px;
      background: #fff;

      .pagination-input {
        width: 40px;
        margin: auto 0;
        border: 1px solid $grey;
        border-radius: 4px;
        
        input {
          width: 100%;
          border: none;
        }
        
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }
      
      p {
        margin: auto 0;
        padding: 0 10px;
      }

      .pagination {

        a {
          background: #fff;
          padding: 8px;
          border: 1px solid #E0E0E0;
          border-radius: 4px;
          text-decoration: none;
          color: $blue;
          margin-left: 20px;
        }

        a:hover,
        a:active,
        a:focus {
          border: 1px solid $blue;
          background: $blue;
          color: #fff;
        }

        // pagination arrow SVG color styling on hover / focus / active 
        a:hover img,
        a:active img,
        a:focus img {
          filter: brightness(0) invert(1);
        }
      }
    }

    // Message writer assigned title header styling
    .head-text {
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      margin: 35px 0;
    }
  }

  &.customer-care {
    .today-date {
      display: flex !important;
      align-items: center;


      .day-num {
        font-size: 40px;
      }

      .day {
        line-height: 10px;
      }
    }

    .dash-rating {

      text-align: center;

      p:first-child {
        font-size: 24px;
        // line-height: 10px;
      }
    }

    .ico {
      position: relative;
      background-color: rgba(242, 153, 74, 0.2);
      border-radius: 50%;
      width: 48px;
      height: 48px;
      /* left: 6px; */

      .day-num {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      }
    }

    .ico1 {
      position: relative;
      background-color: rgba(37, 134, 239, 0.2);
      border-radius: 50%;
      width: 48px;
      height: 48px;
      /* left: 6px; */

      .day-num {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      }
    }

    .ico2 {
      position: relative;
      background-color: rgba(235, 87, 87, 0.2);
      border-radius: 50%;
      width: 48px;
      height: 48px;
      /* left: 6px; */

      .day-num {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      }
    }

    .ico3 {
      position: relative;
      background-color: rgba(20, 238, 131, 0.2);
      border-radius: 50%;
      width: 48px;
      height: 48px;
      /* left: 6px; */

      .day-num {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
      }
    }

    .sort {
      display: flex;
      align-items: center !important;
      justify-content: flex-end;

      .dropdown {

        .dropdown-menu {
          transform: translate(-85%, 50%) !important;
        }
      }
    }



    // DROPDOWN 
    .accordion {
      width: 100%;
      padding: 10px 0;

      .item {
        border: none;
      }

      .accordion-head {
        margin-bottom: 0;
        display: flex;
        align-items: center;
      }

      .accordion-text {
        color: #000;
        padding: 10px 15px 20px;
      }

      .item-header {
        border-bottom: none;
        border-radius: 5px;
      }

      .accord-btn.collapsed img {
        transform: rotate(0deg);
      }

      .accord-btn {
        width: 100%;
        display: flex;
        background-color: transparent !important;
        border: none !important;
        align-items: center;
        text-align: left;

        .accordion-p {
          font-size: 16px;
          color: #000;
          font-weight: $bold;
          margin: auto 0;
        }
      }

      .acc-arr {
        position: relative;
        margin-right: 35px;
        border-radius: 50px;
        width: 35px;
        height: 35px;
        background: $blue;

        img {
          position: absolute;
          top: 41%;
          left: 32%;
        }
      }

      .accord-btn img {
        transform: rotate(180deg);
      }

      .pending {
        background: $orange;
      }

      .balance {
        background: $blue;
      }

      .processing {
        // background: $yellow;
      }

      .paid {
        background: rgb(0, 128, 0, 0.2);
      }
    }

    .a-orders:hover {
      background-color: rgb(37, 134, 239, 0.2);

      p {
      color: white !important;
      }
    }

    .p-orders:hover {
      background-color: rgb(235, 87, 87,0.2);
      p{
        color: white !important;
        }
    }

    .o-orders:hover {
      background-color: rgb(255, 165, 0, 0.2);
      p{
        color: white !important;
        }
    }

    .c-orders:hover {
      background-color: rgb(12, 178, 97, 0.2);
      p{
        color: white !important;
        }
    .ico2 {
      left: 15px;
    }

    .paid {
      background: rgba(0, 128, 0, 0.2);
    }

    .ico3 {
      left: 15px;
    }
  }

  }
}