section{
  &.login-form {
    background-image: url(../img/bgimg.png);
    height: 100vh;

    .blob{
      position: absolute;
      top: 0;
    }

    .logo{
      height: 80px;
      margin-bottom: 30px;
    }

    .form-wrapper{
      background: white;
      padding: 15px;

      p{
        text-align: center;
        margin-bottom: 20px;
      }

      .form-group {
        height: 47px;
        margin-bottom: 15px;
        border-radius: 8px;
        border: 1px solid $grey;
        display: flex;
        flex-direction: column;
        position: relative;

        &::after{
          position: absolute;
          content: "";
          height: 45px;
          width: 45px;
          border-top-right-radius: 6px;
          border-bottom-right-radius: 6px;
          background-size: 24px !important;
          right: 0;
        }

        &.email{
          &::after{
            background: $grey url("../img/user.svg") no-repeat center;
          }

          &.active{
            &::after{
              background: $blue url("../img/user.svg") no-repeat center;
            }
          }
        }

        &.password{
          &::after{
            background: $grey url("../img/padlock.svg") no-repeat center;
          }

          &.active{
            &::after{
              background: $blue url("../img/padlock.svg") no-repeat center;
            }
          }
        }

        &.active{
          border: 1px solid $blue;
        }

        label{
          margin: 3px 0 0 10px;
        }

        input {
          border: none;
          border-radius: 8px;
          padding-left: 10px;
        }
      }

      button{
        margin: 20px 0;
      }
    }
  }


  
&.booking-options {
  height: 100vh;
  .container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the radio button is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: #E0E0E0;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .container .checkmark:after {
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #2F80ED;
  }
}

  &.customer-dets {
    background: url(/img/bgimg2.png) no-repeat;
    background-size: cover;
    height: 100vh;

    .w-100{
      form {

        
    .form-group {
      margin-bottom: 3rem !important;
    }
        input {
          display: block;
        }

        .info{
          justify-content: space-between;

          .btn-primary {
            min-width: 80px;
            max-width: 80px;
          }
        }

        .date{
          background: url(/img/Cal-icon.png) no-repeat right 2px;
          background-size: 17px;
        }

        select {
          background: url(/img/Selectbg.png) no-repeat right;
          border-radius: 8px 8px 4px 4px;
          background-position-x: 264px;
        }
      }
    }
  }

  &.customer-service {
    background: url(/img/bgimg2.png) no-repeat;
    background-size: cover;
    .shade {
      p {
        color: #999999;
      }
    }

    .b-t{
      border-top: 2px solid #333333;
      border-bottom: 2px solid #333333;
    }
  }

  &.customer-care {
    .today-date{
      display: flex !important;
      align-items: center;
      

      .day-num {
        font-size: 40px;
      }

      .day {
        line-height: 10px;
      }
    }

    .dash-rating {
      
      text-align: center;

      p:first-child {
        font-size: 24px;
        // line-height: 10px;
      }
    }
    .ico {
       position: relative;
    background-color: rgb(242, 153, 74, 0.2);
    border-radius: 50%;
    width: 48px;
    height: 48px;
    /* left: 6px; */

    .day-num {
      top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    }
    }

    .ico1 {
      position: relative;
   background-color: rgb(37, 134, 239, 0.2);
   border-radius: 50%;
   width: 48px;
   height: 48px;
   /* left: 6px; */

   .day-num {
     top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   position: absolute;
   }
   }

   .ico2 {
    position: relative;
 background-color: rgb(235, 87, 87, 0.2);
 border-radius: 50%;
 width: 48px;
 height: 48px;
 /* left: 6px; */

 .day-num {
   top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 position: absolute;
 }
 }

 .ico3 {
  position: relative;
background-color: rgb(20, 238, 131, 0.2);
border-radius: 50%;
width: 48px;
height: 48px;
/* left: 6px; */

.day-num {
 top: 50%;
left: 50%;
transform: translate(-50%, -50%);
position: absolute;
}
}

    .sort{
      display: flex;
      align-items: center !important;
      justify-content: flex-end;

      .dropdown{

      .dropdown-menu {
        transform: translate(-85%, 50%) !important;
    }}
    }

    // .mu{
    //   width: 100% !important;
    //   transform: translate3d(0px, 30px, 0px) !important;
    //   border: 0px;
    // }

    // DROPDOWN // DROPDOWN
    .accordion {
      width: 100%;
      padding: 10px 0;
      .item {
        border: none;
      }
      .accordion-head {
        margin-bottom: 0;
        display: flex;
        align-items: center;
      }
      .accordion-text {
        color: #000;
        padding: 10px 15px 20px;
      }
      .item-header {
        border-bottom: none;
        border-radius: 5px;
      }
      .accord-btn.collapsed img {
        transform: rotate(0deg);
      }
      .accord-btn {
        width: 100%;
        display: flex;
        background-color: transparent !important;
        border: none !important;
        align-items: center;
        text-align: left;
        .accordion-p {
          font-size: 16px;
          color: #000;
          font-weight: $bold;
          margin: auto 0;
        }
      }
      .acc-arr {
        position: relative;
        margin-right: 35px;
        border-radius: 50px;
        width: 35px;
        height: 35px;
        background: $blue;
        img {
          position: absolute;
          top: 41%;
          left: 32%;
        }
      }
      .accord-btn img {
        transform: rotate(180deg);
      }
      .pending {
        background: rgb(235, 87, 87);
      }
      .balance {
        background: blue;
      }
      .processing {
        background: yellow;
      }
      .paid {
        background: rgb(0, 128, 0, 0.2);
      }
    }
  }
}