.color-blue {
  color: $blue;
}


div {
  &.fm {

    .container {
      display: block;
      position: relative;
      padding-left: 25px;
      margin-bottom: 20px;
      cursor: pointer;
      font-size: 14px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    /* Hide the browser's default radio button */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }

    /* Create a custom radio button */
    .checkmark {
      position: absolute;
      top: 0;
      left: 0;
      height: 20px;
      width: 20px;
      background-color: #eee;
      border-radius: 50%;
    }

    /* On mouse-over, add a grey background color */
    .container:hover input~.checkmark {
      background-color: #ccc;
    }

    /* When the radio button is checked, add a blue background */
    .container input:checked~.checkmark {
      background-color: #E0E0E0;
    }

    /* Create the indicator (the dot/circle - hidden when not checked) */
    .checkmark:after {
      content: "";
      position: absolute;
      display: none;
    }

    /* Show the indicator (dot/circle) when checked */
    .container input:checked~.checkmark:after {
      display: block;
    }

    /* Style the indicator (dot/circle) */
    .container .checkmark:after {
      top: 5px;
      left: 5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #2F80ED;
    }
  }
}



/* ACCORDION */
.accordion {
  padding: 10px 0;

  .accordion-head {
    margin-bottom: 0;
    display: flex;
    align-items: center;
  }

  .accordion-text {
    color: #000;
    padding: 10px 15px 20px;

  }

  .accord-btn.collapsed img {
    transform: rotate(0deg);
  }

  .accord-btn {
    width: 100%;
    display: flex;
    background-color: transparent !important;
    border: none !important;
    align-items: center;
    text-align: left;

    .accordion-p {
      font-size: 16px;
      color: #000;
      font-weight: $bold;
      margin: auto 0;
    }

    .status-color {
        font-size: 12px;
        padding: 0 8px;
        border-radius: 47px; 
        
        &.green  {
            color: #007F00;
            background: #5fc06972;
            border: 1px solid $green;
        }
        &.orange  {
            color: $orange;
            background: #f2984a90;
            border: 1px solid $orange;
        }
        &.red  {
            color: $red;
            background: #ff000056;
            border: 1px solid $red;
        }  
    }

  }

  .acc-arr {
    position: relative;
    margin-right: 35px;
    border-radius: 50px;
    width: 35px;
    height: 35px;
    background: $blue;

    img {
      position: absolute;
      top: 41%;
      left: 32%;
    }
  }

  .accord-btn img {
    transform: rotate(180deg);
  }

  // All Dropdown arrow and text color styling
  .pending {
    background: $red;
  }

  .pending-text {
    color: $red;
  }


  .processing {
    background: $blue;
  }


  .balance {
    background: $orange;
  }

  .balance-text {
    //color: $yellow;
    color: $orange;
  }


  .paid {
    background: $green;
  }

  .paid-text {
    color: $green;
  }
}

.orderid-text {
  color: $deep-black;
  font-size: 16px;
  font-weight: $semibold;
}


.top-accordi {
  position: relative;
}

.bottom-accordi {
  position: absolute;
  overflow-y: hidden !important;
  overflow-x: hidden !important;
}

// Order Timeline 
.order-timeline {
  position: relative;
  width: 100%;

  // Vertical line 
  &::after {
    content: '';
    position: absolute;
    width: 2.5px;
    background-color: $dem-grey;
    top: 0;
    left: 50px;
    height: 100%;
  }

  .order-id {
    display: flex;
    justify-content: space-between;

    p {
      font-size: 16px !important;
    }

    img {
      cursor: pointer;
    }
  }

  .order-type {
    margin: 5px 0 17px;
  }

  //Order interval time 
  .order-time {
    font-size: 16px;
    line-height: 17px;
    color: $deep-black;

    p:last-child {
      color: #BCC1CD;
    }
  }
}


/* DASHBOARD ACCORDION */
.dash-accordion {
  padding: 10px 0 0;

  .acc-arr {
    cursor: pointer;

    img {
      max-width: 24px;
    }
  }

  .acc-arr.collapsed img {
    transform: rotate(0deg);
  }

  .acc-arr img {
    transform: rotate(180deg);
  }


  .status-color {
    font-size: 12px;
    padding: 0 8px;
    border-radius: 47px;

    &.green {
      color: #007F00;
      background: #5fc06972;
      border: 1px solid $green;
    }

    &.orange {
      color: $orange;
      background: #f2984a90;
      border: 1px solid $orange;
    }

    &.red {
      color: $red;
      background: #ff000056;
      border: 1px solid $red;
    }
  }

  .full-width-td {
    padding: 20px 0;
    text-align: center;
    color: #ccc;
  }
}

// Order details
.order-details {
  width: 100%;
  background-color: #F6F6F5;
  border-radius: 10px;
  padding: 15px;
  margin: 0 0 15px 20px;
  cursor: pointer;

  p {
    font-size: 12px;
    margin: auto 0;
    color: $deep-black;
  }

  .order-name {
    display: flex;
    margin-top: 5px;

    img {
      width: 22px;
      height: 22px;
      margin-right: 10px;
      border-radius: 50%;
    }
  }
}

// Hover state 
.order-details:hover {
  background-color: $blue;

  p {
    color: #fff;
  }

  .order-i {
    filter: brightness(0) invert(1);
  }
}


// forms background  shows on Desktop view  and removed on mobile view
.desk-layout {
  
    background: #fff;
    padding: 40px 50px;
    margin: 50px;
    border-radius: 5px;
    box-shadow: 0 0 4px #ccc;
    
    
    @media (max-width: $mobile_width) {
      background: none;
      padding: 0;
      margin: 0;
      box-shadow: none;
  }
}

/* Top Navbar profile section */
.dash-dropdown {
  .drop-icon {
    width: 15px;
  }

  .avatar {
    width: 50px;
    margin-right: 10px;
    border-radius: 50px;
  }

  .dash-dropdown-toggle {
    background: none !important;
    border: none;

    &::after {
      display: none !important;
    }
  }

  // .dropdown-menu {
  //     top: 65px !important;
  //     width: 100%;
  //     border: none;
  //     box-shadow: 1px 1px 3px #999;
  // }
}